body {
    font-family: 'Apercu Mono Pro', serif;
    font-size: 12px;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

.container {
    width: 50%;
    margin: 0 auto;
}

h1 {
    font-size: 28px;
    margin: 0;
}


/* .profile-image img {
    width: 10%; 
    height: 10%; 
    border-radius: 100%; 
    overflow: hidden; 
    justify-content: center; 
    align-items: center; 
} */



.links {
    font-size: 12px;
    margin: 40px 0;
}

.links a {
    color: blue;
    text-decoration: none;
}

.links a:not(:last-child):after {
    content: " · ";
}

footer {
    font-size: 12px;
    color: #666;
}


.experience-list {
    list-style-type: none;
    padding-left: 0;
}
.experience-item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
}
.experience-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}
.beheard::before {
    background-image: url('/assets/beheard_logo.png');
}
.science::before {
    background-image: url('/assets/science_logo.png');
}
.snowflake::before {
    background-image: url('/assets/snowflake_logo.png');
}
.kyvos::before {
    background-image: url('/assets/kyvos.png');
}
