body {
    font-family: 'Apercu Mono Pro', serif;
    font-size: 12px;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

.container {
    width: 50%;
    margin: 0 auto;
}

h1 {
    font-size: 28px;
    margin: 0;
}


.date {
    color: #666;
}


.links {
    font-size: 12px;
    margin: 40px 0;
}

.links a {
    color: blue;
    text-decoration: none;
}

.links a:not(:last-child):after {
    content: " · ";
}

footer {
    font-size: 12px;
    color: #666;
}
